{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <ul>
        {% for type, errors_by_type in errors %}
            <li>
                {{ type }}
                <ul>
                    {% for error in errors_by_type %}
                        <li style="background-color: indianred">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
